<div class="col-12 grid-margin stretch-card">
  <div class="card" >
    <div class="card-body" *ngIf="mutluTvData">
      <h4 class="card-title">MutluTV Bilgileri</h4>
      <form class="forms-sample">
        <app-spinner *ngIf="isLoading"></app-spinner>
        <div class="form-group">
          <input type="hidden" *ngIf="mutluTvData.id" class="form-control" name="id" [(ngModel)]="mutluTvData.id">
        </div>
        <br>
        <br>


        <div class="form-group"  >
          <label  >Video Url'i</label>
          <input type="text" class="form-control" name="name" placeholder="Video Url'i" [(ngModel)]="mutluTvData.videoUrl">
          <div    class="post-thumbnail" style="margin-top: 2%;" *ngIf="mutluTvData.videoUrl">
            <iframe style="border-radius: 15px;" class="videoStyle" [src]="changeVideoUrl(mutluTvData)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

        </div>



        <!-- <div class="form-groud" *ngIf="isPhoto == false">

          <label  >Video Url'i</label>
          <input type="text" class="form-control" name="name" placeholder="Resim Url'i" [(ngModel)]="post.imageUrl">

          <br>
          <br>
        </div> -->

        <div class="form-group">
          <label >Açıklama</label>
          <textarea class="form-control" name="description" rows="4" [(ngModel)]="mutluTvData.description"></textarea>
        </div>
        <button *ngIf="button === false" type="submit" class="btn btn-gradient-primary mr-2" (click)="onSubmit()">Kaydet</button>
        <button *ngIf="button === true" type="submit" class="btn btn-gradient-primary mr-2" (click)="onSave()">Güncelle</button>
        <button class="btn btn-light" routerLink="/mutlutv">İptal</button>
      </form>
    </div>
  </div>
</div>
