<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Ürün Bilgileri</h4>
      <p class="card-description">
        Ürün Bilgileri
      </p>
      <form class="forms-sample">
        <app-spinner *ngIf="isLoading"></app-spinner>
        <div class="form-group">
          <input type="hidden" class="form-control" name="id" [(ngModel)]="proModel.id">
        </div>
        <div class="form-group">
          <label >Ürün Adı</label>
          <input type="text" class="form-control" name="name" placeholder="Ürün Adı" [(ngModel)]="proModel.name">
        </div>
        <div class="form-group">
          <label>Fiyat</label>
          <input type="text" class="form-control" name="price" placeholder="Fiyat" [(ngModel)]="proModel.price">
        </div>
        <div class="form-group">
          <label>Ürün Kategorisi</label>
          <select class="form-control" name="categoryId" [(ngModel)]="proModel.categoryId">
            <option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</option>
          </select>
        </div>
<!--        <div class="form-group">
          <label>Resim Yükle</label>
          <div class="input-group">
            <input type="file"  class="file-upload-browse btn btn-gradient-primary" name="file" [(ngModel)]="proModel.file" (change)="onFileChanged($event)" #fileInput>
          </div>
        </div>-->
        <div class="form-group" *ngIf="proModel.imageUrl">
          <img src="https://{{proModel.imageUrl}}">
        </div>

        <div class="from-group">
          <label>Ürün Fotoğrafı: </label>
          <input type="file" (change)="fileChangeEvent($event)" />
          <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="false"
            format="jpeg"
            [resizeToWidth]=300
            [resizeToHeight]=300
            (imageCropped)="imageCropped($event)"
          ></image-cropper>
        </div>

<!--        <div class="form-group">
          <img [src]="croppedImage" />
        </div>-->

        <div class="form-group">
          <label >Ürün Açıklaması</label>
          <textarea class="form-control" name="description" rows="4" [(ngModel)]="proModel.description"></textarea>
        </div>
        <button *ngIf="button === false" type="submit" class="btn btn-gradient-primary mr-2" (click)="onSubmit()">Kaydet</button>
        <button *ngIf="button === true" type="submit" class="btn btn-gradient-primary mr-2" (click)="onSave()">Güncelle</button>
        <button class="btn btn-light" routerLink="/product">İptal</button>
      </form>
    </div>
  </div>
</div>
