<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Menü Bilgileri</h4>
      <app-spinner *ngIf="isLoading"></app-spinner>
      <form class="forms-sample">
        <div class="form-group">
          <input type="hidden" class="form-control" name="id"  [(ngModel)]="menuModel.id">
        </div>
        <div class="form-group">
          <label>Menü Adı</label>
          <input type="text" class="form-control"  name="name" placeholder="Menü Adı" [(ngModel)]="menuModel.name" >
        </div>
<!--        <div class="form-group">
          <label>Resim Yükle</label>
          <div class="input-group">
            <input type="file"  class="file-upload-browse btn btn-gradient-primary" name="file" [(ngModel)]="menuModel.file" (change)="onFileChanged($event)" #fileInput>
          </div>
          <span class="bg-warning">Önerilen boyut: 540x200px</span>
        </div>-->
        <div class="form-group" *ngIf="menuModel.imageUrl">
          <img src="https://{{menuModel.imageUrl}}">
        </div>

        <div class="from-group">
          <label>Menü Fotoğrafı: </label>
          <input type="file" (change)="fileChangeEvent($event)" />
          <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="false"
            [resizeToWidth]=800
            [resizeToHeight]=600
            format="jpeg"
            (imageCropped)="imageCropped($event)"
          ></image-cropper>
        </div>

        <div class="form-group">
          <label for="exampleTextarea1">Açıklama</label>
          <textarea class="form-control" id="exampleTextarea1" rows="4" name="description" [(ngModel)]="menuModel.description"></textarea>
        </div>
        <button *ngIf="button === false" type="submit" class="btn btn-gradient-primary mr-2" (click)="onSubmit()">Kaydet</button>
        <button *ngIf="button === true" type="submit" class="btn btn-gradient-primary mr-2" (click)="onSave()">Güncelle</button>
        <button class="btn btn-light" routerLink="/menu">İptal</button>
      </form>
      <!--<form [formGroup]="menuAddForm" (ngSubmit)="add()" >
        <div class="form-group">
          <input type="text" name="name" formControlName="name" class="form-control" placeholder="Menü adı">
          <div class="alert alert-danger" *ngIf="menuAddForm.get('name').hasError('required') && menuAddForm.get('name').dirty">Menü adı zorunlu</div>
        </div>
        <div class="form-group">
          <input type="text" name="description" formControlName="description" class="form-control" placeholder="Açıklama adı">
          <div class="alert alert-danger" *ngIf="menuAddForm.get('description').hasError('required') && menuAddForm.get('description').dirty">Açıklama zorunlu</div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Menü ekle</button>
        </div>
      </form>-->
    </div>
  </div>
</div>
